body {
  background-color: #d9d9c2;
}

.hide {
  display: none;
}

header {
  height: 22vh;
}

header nav {
  margin: 1vh;
  display: grid;
  grid-template-columns: 1fr 10fr;
  height: 80%;
}

header a {

}

header a figure {
  width: 100%;
}

header a figure img {
  max-width: 100%;
}

#askForConsent {
}

#askForConsent h1 {
  font-family: 'Open Sans', sans-serif;
}

#askForConsent p {
  font-family: 'Roboto', sans-serif;
}

#askForConsent button {
  font-family: 'Roboto', sans-serif;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
}

.popup-wrapper {
  position: relative;
  display: block;
  margin: 10vh 30vw;
  width: 30vw;
  background-color: white;
  padding: 2vw 5vw 4vw;
}
