body {
  background-color: #d9d9c2;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

header {
  height: 22vh;
  margin: 0;
  padding: 0;
}

header nav {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 22vh 9fr;
  height: 22vh;
}

header a {
  width: 100%;
  height: 100%;
}

header a figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header a figure img {
  max-width: 60%;
  /* max-height: 22vh; */
  margin: 10% 20%;
}

header nav button {
  margin-top: 5vh;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif !important;
}

button {
  color: #fff;
  font-size: 2.4vh;
  display: inline-block;
  border: none;
  border-radius: 20px;
  height: 40px;
  width:auto;
  padding: 0px 20px;
}

button:active {
  transform: translateY(5px);
  box-shadow: none !important;
}

button:hover {
  color: #d9d9c2;
}

button:focus {
  outline: none;
  border-radius: 20px;
  border: solid #fff 2px;
  padding: 0 18px;
}

button.accept  {
  font-family: 'Roboto', sans-serif;
  background-color: #20a39e;
  box-shadow: 0 5px 0 #156D69;
}

button.accept:hover, button.accept:focus {
  background-color: #27C6BE;
}

button.decline {
  font-family: 'Roboto', sans-serif;
  background-color: #ef5b5b;
  box-shadow: 0 5px 0 #BA4848;
}

button.decline:hover, button.decline:focus {
  background-color: #ED8080;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
}

.popup-wrapper {
  position: relative;
  display: block;
  margin: 10vh auto;
  max-width: 30vw;
  min-width: 430px;
  background-color: white;
  padding: 28px 72px 58px;
  border-radius: 20px;
}

#addDish #weekdays button {
  width: 40px;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #3423a6;
  color: #2e1760;
}

#addDish #weekdays .on {
  width: 40px;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #3423a6;
  color: #d9d9c2;
}

#addDish #weekdays button:hover, #addDish #weekdays button:focus {
  background-color: #2e1760;
  color: #d9d9c2;
  border: none;
  transform: none;
}

#addDish input[type='range'] {
  /* -webkit-appearance: none; */
  width: 80%;
}

#addDish label[for='freq'] {
  font-family: 'Roboto', sans-serif;
}

#addDish input[type='text'] {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4vh;
  width: 80%;
  padding: 0 20px;
  border-radius: 20px;
  height: 40px;
  border: 2px solid #3423a6;
}

#addDish input[type='text']:focus {
  border: 2px solid #2e1760;
  box-shadow: 0px 0px 5px #3423a6;
  outline: none;
}

@media (max-width: 1024px) {
  header nav {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    height: 5vh;
  }

  header nav figure img {
    max-width: 15vw;
    max-height: 15vh;
    margin: 10px;
  }

  header nav button {
    width: 80%;
    display: block;
    margin: 10px auto;
    /* margin: 10px; */
  }
}

@media (max-width: 430px) {
  .popup {
    width: 100vw;
    height: 100vh;
  }

  .popup-wrapper {
    margin: 0;
    width: auto;
    min-height: 100vh;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
  }

  .popup-wrapper p {
    width: 90%;
  }
}
