@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

body {
  background-color: #d9d9c2;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
}

.hide {
  display: none;
}

figure {
  margin: 0;
  padding: 0;
}

.green {
  --color: #fff;
  --bg-color: #20a39e;
  --s-color: #156D69;
}

.red {
  --color: #fff;
  --bg-color: #ef5b5b;
  --s-color: #BA4848;
}

.threed-button {
  border: none;
  color: var(--color);
  font-family: 'Roboto';
  font-size: 1em;
  background-color: var(--bg-color);
  box-shadow: 0 5px 0 var(--s-color), 0 10px 19px rgba(0, 0, 0, 0.30), 0 7px 6px rgba(0, 0, 0, 0.22);
  transform: translate(var(--offset), var(--offset));
}

.threed-button:active {
  background-color: var(--bg-color);
  box-shadow: none;
  transform: translate(var(--offset), calc(var(--offset) + 5px));
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  /* grid-template-columns: 1fr 78px 78px 78px; */
  height: 78px;
}

header #logo {
  flex: 1 1 0;
}

header #logo figure {
  margin: 0;
  height: 100%;
  position: relative;
  padding: 0;
}

header #logo figure img {
  max-height: 70%;
  max-width: 70%;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}

.big-button-wrapper {
  flex: 0 0 78px;
  height: 78px;
  position: relative;
}

.no-show {
  visibility: hidden;
}

.big-button-wrapper button {
  --offset: -50%;
  border-radius: 7px;
  font-size: 4.8vh;
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
}

#main {}

#main #output-wrapper {}

#main #output-wrapper #output-head {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.8em;
  text-align: center;
  margin: 0 0 0.4em;
}

#main #output-wrapper .output-divider {
  display: flex;
  margin: 0 5px 10px;
}

#output-wrapper .output-divider p {
  flex: auto 0 auto;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
  margin: 0 0 0 0.35em;
  font-family: 'Roboto';
  font-size: 0.9em;
}

#output-wrapper .output-divider .line {
  flex: 1 1 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
  border-bottom: 2px solid #000;
  height: 0.0001px;
  margin: 0.8em 0.35em 0 0.2em;
}

#main #output-wrapper #output-items {
  display: flex;
  font-family: 'Open Sans';
  flex-direction: column;
}

#main #output-wrapper #output-items .output-item {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
  line-height: 1.7em;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 5px 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  overflow: hidden;
  min-height: 2.4em;
}

#main #output-wrapper #output-items .output-item.create-output-item {}

#output-items .output-item.create-output-item input[type="text"] {
  -webkit-appearance: none;
  outline: none;
  border: none;
  font-size: 1.2em;
  font-family: 'Open Sans';
  width: calc(100% - 1.4em);
  margin: 0.35em 0.6em 0.1px;
  padding: 0;
  height: 1.7em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#output-items .output-item.create-output-item input[type="text"]:placeholder-shown {
  border-bottom: 1px solid #000;
  margin-bottom: calc(0.1px - 1px);
}

/* TODO: display frequently when moving range slider */

#output-items .output-item.create-output-item input[type='range'] {
  width: calc(100% - 2.8em);
  height: 20px;
  margin: 0.7em 1.4em;
  -webkit-appearance: none;
  background: linear-gradient(to right, #20a39e 50%, #156D69 50%);
  border-radius: 10px;
}

#output-items .output-item.create-output-item input[type='range']::-webkit-slider-runnable-track {}

#output-items .output-item.create-output-item input[type='range']::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  height: 20px;
  cursor: ew-resize;
  border-radius: 10px;
  background: #20a39e;
}

#output-items .output-item.create-output-item .weekday-selectors {
  display: flex;
  flex-flow: row wrap;
  padding: 0 0.7em 0.9em;
}

#output-items .output-item.create-output-item .checkbox-container {
  position: relative;
  flex: 1 1 0;
  margin: 0 0.1em;
  height: 2em;
  padding: 0;
  display: inline-block;
}

#output-items .output-item.create-output-item input[type='checkbox'] {
  -webkit-appearance: none;
  background-color: #20a39e;
  box-shadow: 0 5px 0 #156D69;
  font-family: 'Open Sans';
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  user-select: none;
}

#output-items .output-item.create-output-item input[type='checkbox']:checked {
  background-color: #20a39e;
  box-shadow: none;
  transform: translateY(5px);
}

#output-items .output-item.create-output-item input[type='checkbox']:after {
  position: absolute;
  content: attr(data-letter);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#output-items .output-item.create-output-item input[type='checkbox']:checked:after {
  position: absolute;
  content: attr(data-letter);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#output-items .output-item.create-output-item .actions {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 0.6em 1em;
}

#output-items .output-item.create-output-item .actions .divider {
  flex: 1 1 0;
}

#output-items .output-item.create-output-item .description {
  font-family: 'Roboto';
  margin: 0.7em;
  line-height: 1.2em;
}

/* TODO: dish-output-item should have title with ellipsis if it reaches end and is collapsed like in menu-item */

#main #output-wrapper #output-items .output-item.dish-output-item {}

#output-items .output-item.dish-output-item .preview {
  display: flex;
  flex-flow: row wrap;
  min-height: 2.4em;
}

#output-items .output-item.dish-output-item .preview .title {
  flex: 1 1 0;
}

#output-items .output-item.dish-output-item .preview .collapse-button-wrapper {
  flex: 0 0 2.4em;
  height: 2.4em;
  position: relative;
}

#main #output-wrapper #output-items .collapsed {
  max-height: 1.7em;
}

#main #output-wrapper #output-items .not-collapsed {
  max-height: 10000px;
}

#output-items .output-item.dish-output-item .preview p {
  margin: 0.35em 0 0.35em 0.7em;
  overflow-wrap: break-word;
  word-break: break-all;
  line-height: 1.7em;
}

#output-items .output-item.dish-output-item .collapse {
  position: absolute;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  float: right;
  width: 100%;
  height: 100%;
  padding: 0;
}

#output-items .output-item.dish-output-item .collapse i {
  position: absolute;
  font-size: 1.8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#output-items .output-item.dish-output-item .output-footer {
  display: flex;
}

/* TODO: fixa bort grid artifakter */
#output-items .output-item.dish-output-item .output-info {
  flex-grow: 4;
}

#output-items .output-item.dish-output-item .output-info p {
  font-family: 'Roboto';
  font-size: 0.6em;
  margin: 0.2em 1.4em -1.6em;
  padding: 0;
}

#output-items .output-item.dish-output-item .output-button-wrapper {
  flex-grow: 2;
}

#output-items .output-item.dish-output-item .output-button-wrapper button {
  --offset: 0px;
  float: right;
  border-radius: 1em;
  height: 2em;
  line-height: 100%;
  padding: 0.6em;
  margin: 0.1em 0.7em 0.7em;
}

#main #output-wrapper #output-items .output-item.menu-output-item {
  height: 3.2em;
}

#output-items .output-item.menu-output-item .preview {
  display: flex;
  flex-flow: row wrap;
  height: 3.2em;
}

#output-items .output-item.menu-output-item .preview .title {
  flex: 1 1 0;
  padding: 0;
  min-width: 0;
}

#output-items .output-item.menu-output-item .preview .title p {
  margin: 0.4em 0;
  padding: 0 0.7em;
  border-right: 2px solid #000;
  line-height: 2.4em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#output-items .output-item.menu-output-item .preview .menu-day {
  flex: 0 0 2.6em;
  margin: 0.3em 0.7em;
  height: 2.6em;
  padding: 0;
}

#output-items .output-item.menu-output-item .preview .menu-day .weekday {
  padding: 0;
}

#output-items .output-item.menu-output-item .preview .menu-day .weekday p {
  margin: -0.3em 0 0;
  margin: 0;
  font-family: 'Roboto';
  line-height: 1.56em;
}

#output-items .output-item.menu-output-item .preview .menu-day .date {
  padding: 0;
}

#output-items .output-item.menu-output-item .preview .menu-day .date p {
  margin: -0.1em 0 0;
  font-size: 0.7em;
  line-height: 1.04em;
}
