{
    "presets": [
        [
            "@babel/preset-env",
        {
            "targets": {
                "esmodules": true
            },
            "module": false
        }
        ]
    ]
}
