/*
  Color palette
  #e9cb31
  #ddce6e
  #d9d9c2
  #676778
  #272933

  #20a39e
  #ef5b5b

  #3423a6
  #2e1760

  Fonts
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
*/

body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}

#wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

header figure {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

header figure img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 80%;
  max-height: 80%;
}

header section {
  color: var(--text-color);
}

header section .text-container {
  height: 40%;
  margin: auto;
  position: relative;
  top: 55%;
  transform: translateY(-50%);
}

header section h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5vh;
  width: 80%;
}

header section p {
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  margin-top: -2vh;
}

header section a {
  font-family: 'Roboto', sans-serif;
  color: var(--link);
}

header section a:visited {
  color: var(--link-visited);
}

footer {
  position: absolute;
  bottom: 0vh;
  left: 0;
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100%;
  background-color: #272933;
  transition: bottom 0.4s;
}

footer.hide {
  bottom: -10vh;
  left: 0;
}

footer p {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 10vh;
  font-family: 'Open Sans', sans-serif;
  color: #d9d9c2;
}

@media (max-width: 1024px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 50vh;
  }

  header section .text-container {
    text-align: center;
    top: 20%;
  }

  header section h1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 50vh;
  }

  header section .text-container {
    text-align: center;
    top: 20%;
  }

  header section h1 {
    font-size: 3vh;
    margin-left: auto;
    margin-right: auto;
  }

  header section p {
    margin-top: 2vh;
    font-size: 2.4vh;
    margin-left: auto;
    margin-right: auto;
  }
}
